<ul class="list-unstyled">
    <li ng-repeat="i in node.document.data[f.alias] track by $index">
        <div class="form-group row">
            <div class="col-lg-11">
                <textarea class="form-control" ng-model="node.document.data[f.alias][$index]"></textarea>
            </div>
            <div class="col-lg-1">
                <button class="btn btn-warning" type="button" ng-click="node.document.data[f.alias].splice($index, 1)"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </li>
    <li>
        <button class="btn btn-xs btn-default" type="button" ng-click="(node.document.data[f.alias]=node.document.data[f.alias]||[]).push('')">Add</button>
    </li>
</ul>

