{% extends 'layouts/_default.html' %}

{% block content %}
<div class="row">
    <div class="panel-body">
        <ul class="nav nav-pills">
            <li role="presentation" ui-sref-active="active"><a href ui-sref="nodes">Nodes</a></li>
            <li role="presentation" ui-sref-active="active"><a href ui-sref="doctypes">Document Types</a></li>
            <li role="presentation" ui-sref-active="active"><a href ui-sref="routes">Routes</a></li>
        </ul>
    </div>

    <div ui-view></div>
</div>
{% endblock %}
