<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat="media in allMedia">
            <div class="thumbnail">
                <img ng-src="{{media.thumbnail}}" />
                <div class="caption">
                    <h3 ng-bind="media.alias"></h3>
                    <p>Created: <span ng-bind="media.created"></span></p>
                    <p>
                        <button class="btn btn-danger btn-xs" ng-click="delete(media)">&cross; Delete</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <button class="btn btn-info" ng-disabled="$uploading" ng-file-select ng-model="uploads" ng-file-change="fileSelected($files, $event)" ng-multiple="true" accept="image/*">Select files</button>
        <div ng-if="uploads">
            <h5>Files to upload</h5>
            <ul>
                <li ng-repeat="f in uploads"><span ng-bind="f.name"></span> <button class="btn btn-warning btn-xs" ng-click="uploads.splice($index, 1)">&cross;</button></li>
            </ul>

            <p>
                <button class="btn btn-primary" ng-disabled="$uploading" ng-click="upload()">Upload</button>
            </p>

            <div class="progress">
                <div class="progress-bar" role="progressbar" ng-style="{'width': $uploadProgress + '%'}">
                    <span ng-bind="$uploadProgress + '%'"></span>
                </div>
            </div>
        </div>
    </div>
</div>
