<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <a class="btn btn-primary btn-block" ui-sref="nodes.create">New node</a>
            <script type="text/ng-template"  id="node_tree_item.html">
                <span>
                    <button type="button" class="btn btn-default btn-xs" ng-click="$expanded[n2.id]=!$expanded[n2.id]" ng-disabled="!nodeHasChildren(n2)">
                        <i ng-show="$expanded[n2.id]" class="fa fa-minus"></i>
                        <i ng-hide="$expanded[n2.id]" class="fa fa-plus"></i>
                    </button>
                    <a ui-sref="nodes.detail({id:n2.id})">
                        <span ng-bind="n2.alias"></span>
                    </a>
                </span>
                <ul ng-show="$expanded[n2.id]" class="tree">
                    <li ng-repeat="n2 in nodes | filter:{parent_id:n2.id}" ng-include="'node_tree_item.html'" ui-sref-active="active"></li>
                </ul>
            </script>

            <ul class="tree">
                <li ng-repeat="n2 in nodes | filter:{parent_id:null}" ng-include="'node_tree_item.html'" ui-sref-active="active"></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ui-view></div>
        </div>
    </div>
</div>
