<form ng-submit="saveNode()">
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Alias</label>
                <input type="text" class="form-control" ng-model="node.alias" />
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Parent</label>
                <select class="form-control" ng-options="n2.alias for n2 in nodes" ng-model="node.parent"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label>Template</label>
                <select class="form-control" ng-options="a for a in templates" ng-model="node.document.template"></select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Document Type</label>
                <select class="form-control" ng-options="dt3.name for dt3 in docTypes" ng-model="node.document.docType"></select>
            </div>
        </div>
    </div>

    <hr />

    <ul class="list-unstyled">
        <li ng-repeat="f in node.document.docType.fields">
            <div class="form-group">
                <label ng-bind="f.name"></label>
                <div ng-include="editorTemplateUrl(f.type)"></div>
            </div>
        </li>
    </ul>
    <button class="btn btn-primary" type="submit">Save</button>
    <button class="btn btn-info" type="button" ng-if="node.id" ng-click="export()">Export</button>
    <button class="btn btn-info" type="button" ng-click="import()">Import</button>
    <button class="btn btn-danger" type="button" ng-if="node.id" ng-really-click="deleteNode()">Delete</button>
</form>
