@import (less) "vendor/bootstrap.css";
@import (less) "vendor/bootstrap-theme.css";
@import (less) "vendor/datepicker.css";

//@import "./takeoffgo/static/public/styles/vendor/fonts/font-awesome/font-awesome.less";
//@import "./takeoffgo/static/public/styles/vendor/fonts/open-sans/open-sans.less";

body {
  font-family:'Open Sans', sans-serif;
}

.table.admin-users {
    td:nth-child(2) {
        width: 300px;
    }

    td:nth-child(3) {
        width: 100px;
    }

    td:nth-child(4) {
        width: 100px;
    }

    td:nth-child(5) {
        width: 150px;
    }
}

.table.admin-trips {
    td:nth-child(2) {
        width: 300px;
    }

    td:nth-child(3) {
        width: 100px;
    }

    td:nth-child(4) {
        width: 100px;
    }

    td:nth-child(5) {
        width: 150px;
    }
}

.navbar-nav > li.logo > a {
  padding: 0;

  img {
    height: 40px;
    margin-top: 5px;
  }
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.sort-handle {
    cursor: move;
}


textarea.code {
    font-family: Consolas, Menlo, fixed;
}
